/* Importación de los íconos de Google Fonts */
@import "material-symbols/index.css";

:root {
    --font-inter: "Inter", system-ui, sans-serif; 
}

h1 {
    font-family: var(--font-inter);
    font-weight: 200;
}

.social-nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    padding: 0;      
    margin: 0;       
}

.icon {
    color: #fff;
    display: inline-block;
    width: 25px;
    height: 25px;
}

.icon svg {
    width: 100%;
    height: 100%;
    fill: white;
    transition: fill 0.3s ease;
}
