---
import Design from '../layouts/Design.astro';
import Hero from '../components/Hero.astro';
// import Cards from '../components/Cards.astro';
import ListsCards from '../components/ListsCards.astro';
import CardsTextService from '../components/CardsTextService.astro';
---

<Design title="Inicio">
	<main>
		<Hero />
		<!-- <ListsCards /> Eliminar al confirmar otro método -->
		<CardsTextService />
	</main>
</Design>