---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Design from '../layouts/Design.astro';
---

<!-- <Layout>
	<Welcome />
</Layout> -->

<Design title="Página de Inicio">
	<p>¡Bienvenido a mi sitio web construido con Astro!</p>
</Design>
