---
import Design from '../layouts/Design.astro';
import "../styles/global.css";
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
---

<!-- 
<Design title="Proyectos">
	<p>Varios casos de éxito</p>
</Design>
-->

<Layout>
	<Nav />
	<p>asd</p>
</Layout>