---
// ListsCards.astro
import Cards from '../components/Cards.astro';
---

<section>
    <div>
        <Cards />
    </div>
</section>

<style>
    section {
        background-color: var(--color-blanco);
        padding: 4rem 2rem;
    }

    div {
        /* display: flex;
        gap: 2rem;
        max-width: 100%;
        margin: 0 auto; */
    }
</style>