---
// PreHeadline.astro
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<p class="subhead-text">
    {text}
</p>

<style>
    .subhead-text {
        font-family: 'Rubik', sans-serif;
        font-size: .75rem;
        font-weight: 400;
        color: var(--color-negro);
        margin: 0;
        padding: 0.5rem 0;
        text-align: center;
        text-transform: uppercase;
        padding-left: 1rem;
        border-left: 2px solid #000;
        margin-bottom: 1.5rem;
        width: fit-content;
    }
</style>